= render "shared/book_information_header", book: @book
.impression-index.main-font.box-center.text-center
  .impression-index__main
    = render "shared/content_top"
    = render "shared/book_tag", book: @book
    .impression-index__main__book-title.text-center
      .book-top
        タイトル
      .book-title
        = @book.title
    .impression-index__main__box
      .impression-index__main__box__book
        .impression-index__main__box__book__photo.box-center
          = image_tag @book.image.to_s, class: "impression-index-image image-set"
        .impression-index__main__box__book__text
          .book-detail.display-flex
            .book-detail__top
              読んだ回数
            .book-detail__content
              = @book.impressions.count.to_s + " 回"
          .book-detail.display-flex
            .book-detail__top
              読み終えた期間
            .book-detail__content
              = @book.impressions.last.read_day_i18n
          .book-detail.display-flex
            .book-detail__top
              最後に読んだ日
            .book-detail__content
              = simple_time(@book.impressions.last.created_at)
      .impression-index__main__box__rating{style: "position: relative; height:40vh;width:40vw"}
        %canvas#hexagonChart
        :javascript
          draw_hexagon_graph();
        - if @book.impressions.count.to_s == "1"
          .rating-title.box-center.text-center
            総合評価
        -else
          .rating-title.box-center.text-center
            = @book.impressions.count.to_s + " 回の平均総合評価"
        .rating-point.box-center.display-flex
          .rating-point__main.font-bold
            = @rating
          .rating-point__sub
            点
    = render "shared/impression_list"
