.impression-show.main-font.box-center.text-center
  .impression-show__main
    = render "shared/content_top"
    = render "shared/book_tag"
    .impression-show__main__box
      .impression-show__main__box__book
        .impression-show__main__box__book__photo
          = image_tag @book.image.to_s, class: "impression-show-image image-set"
        .impression-show__main__box__book__text
          .book-detail
            .book-detail__top
              タイトル
            .book-detail__content.font-size-20
              = @book.title
          .book-detail
            .book-detail__top
              著者
            .book-detail__content
              = @book.author
          .book-detail
            .book-detail__top
              読んだ回数
            .book-detail__content
              = @book.impressions.count.to_s + " 回"
          .book-detail
            .book-detail__top
              読み終えた期間
            .book-detail__content
              = @book.impressions.last.read_day
          .book-detail
            .book-detail__top
              最後に読んだ日
            .book-detail__content
              = simple_time(@book.impressions.last.created_at)
      .impression-show__main__box__rating{style: "position: relative; height:40vh;width:40vw"}
        %canvas#hexagonChart
        :javascript
          draw_hexagon_graph();
        .rating-title.box-center.text-center
          総合評価
        .rating-point.box-center
          .rating-point__main.font-bold.text-center
            = @rating
          .rating-point__sub
            点
    .btn-box
      .btn-box__book-raiting
        = link_to new_book_impression_path(@book), class:"black-link-btn text-line-none" do
          新しい感想を登録する
    .impression-show__main__note
      .impression-show__main__note__box
        .impression-show__main__note__box__top
          .note-icon
            = icon 'fas', 'book-reader', class: 'icon-book'
          .note-title
            ノート
        - @impressions.each do |impression|
          .impression-show__main__note__box__content
            .note-date
              = simple_time(impression.created_at)
            .note-reread-timing.box-center.text-center
              = impression.reread_timing
            .note-content
              = impression.note
    .btn-box
      .btn-box__back
        = link_to user_path(@book.user_id), class: "gray-btn text-line-none" do
          もどる
