= render "shared/content_header"
.impression-show.main-font.box-center.text-center
  .impression-show__main
    = render "shared/content_top"
    .impression-show__main__title
      .impression-show__main__title__box
        .impression-show__main__title__box__book-title
          .book-title
            .book-title__top.text-gray
              タイトル
            .book-title__title
              = @book.title
        .impression-show__main__title__box__note.display-flex.box-center
          .note-title
            .note-title__top
              読んだ日
            .note-title__date.background-green.text-white
              = simple_time(@impression.created_at)
          .note-title
            .note-title__top
              読んだ期間
            .note-title__date.background-green.text-white
              = @impression.read_day
          .note-title
            .note-title__top
              また読みたい時
            .note-title__reread-timing.box-center.text-center.background-green.text-white
              = @impression.reread_timing
    .impression-show__main__box.display-flex
      .impression-show__main__box__note.box-center
        .note-top
          感想メモ
        - if @impression.note == ""
          .note-content-empty.text-center
            感想書いてみよう。
        - else
          .note-content
            = @impression.note
      .impression-show__main__box__rating{style: "position: relative; height:40vh;width:30vw"}
        %canvas#hexagonChart
        :javascript
          draw_mini_hexagon_graph();
        .rating-title.box-center.text-center
          総合評価
        .rating-point.box-center.diplay-flex
          .rating-point__main-one.font-bold
            = @rating
          .rating-point__sub-one
            点
    = render "shared/impression_list"