= render "shared/content_header"
.user-edit.main-font
  .user-edit__main.box-center
    = render "shared/content_top"
    = form_with(model: @user, local: true) do |f|
      .user-detail.margin-top-40
        .user-detail__top.form-content
          ユーザーイメージ
        .user-detail__user-image-input
          = f.file_field :image, class:"user-image-input"
        .user-detail__top.form-content
          ニックネーム
        .user-detail__nickname-input
          = f.text_field :nickname, placeholder: "> nickname", class:"text-input"
        .error-text
          - @user.errors.full_messages_for(:nickname).each do |message|
            %div
              = message
        .user-detail__top.form-content
          生年月日
        .user-detail__birthday-input
          != sprintf(f.date_select(:birth_day, prefix:'birth_day', with_css_classes:'select-box', prompt: "---",use_month_numbers:true, start_year:2020, end_year:1920, date_separator:'%s'),'年','月')+'日'
          .error-text
            - @user.errors.full_messages_for(:birth_day).each do |message|
              %div
                = message
      .btn-box
        .btn-box__user-new
          = f.submit " 変更する ", class: "submit-btn text-line-none"
