= render "shared/content_header"
.reread-timing-top.main-font
  .reread-timing-top__main
    = render "shared/content_top"
    .reread-timing-top__main__timing-tag.box-center.margin-top-60
      .reread-timing-top__main__timing-tag__box.display-flex.box-center
        .timing-btn.background-green.text-center
          = link_to timing_knowledge_user_path(@user), class: "text-line-none text-white" do
            知識を付けたい時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_motivation_user_path(@user), class: "text-line-none text-white" do
            モチベーションをあげたい時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_decision_user_path(@user), class: "text-line-none text-white" do
            なにか決断をする時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_stress_user_path(@user), class: "text-line-none text-white" do
            ストレスが溜まっている時
      .reread-timing-top__main__timing-tag__box.display-flex.box-center
        .timing-btn.background-green.text-center
          = link_to timing_feel_down_user_path(@user), class: "text-line-none text-white" do
            落ち込んでいる時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_lost_love_user_path(@user), class: "text-line-none text-white" do
            失恋した時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_diversion_user_path(@user), class: "text-line-none text-white" do
            気分転換したい時
        .timing-btn.background-green.text-center.margin-left-20
          = link_to timing_relax_user_path(@user), class: "text-line-none text-white" do
            リラックスしたい時
  - if @timing_knowledges.present? == true || @timing_motivations.present? == true || @timing_decisions.present? == true || @timing_stresses.present? == true || @timing_feel_downs.present? == true || @timing_lost_loves.present? == true || @timing_diversions.present? == true || @timing_relaxes.present? == true
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_knowledges}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_motivations}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_decisions}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_stresses}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_feel_downs}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_lost_loves}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_diversions}
    = render partial: "shared/reread_timing_list", locals: {impressions: @timing_relaxes}
  - else
    .reread-timing-top__none.box-center.text-center
      登録された本がありません