= render "shared/content_header"
.mypage-top.main-font
  .mypage-top__main.box-center
    .mypage-top__main__box
      .user-title.text-center
        .user-title.content-title
          = icon 'fas', 'home', class: 'icon-home'
          ユーザー紹介
      .user-box.display-flex.box-center.border-top.border-bottom
        .user-box__user
          .user-box__user__icon.display-flex
            .user-box__user__icon__photo
              %img.user-photo
            .user-box__user__icon__name
              = link_to edit_user_path, class: "text-line-none text-black" do
                = @user.nickname
          .user-box__user__follow.display-flex
            - if current_user == @user
              .user-box__user__follow__followers
                = link_to followings_user_path(@user),class: "text-black text-line-none" do
                  .user-box__user__follow__followers__title.text-center.text-gray
                    フォロー
                  .user-box__user__follow__followers__count.text-center
                    = @followings.count
              .user-box__user__follow__followings
                = link_to followers_user_path(@user),class:"text-black text-line-none" do
                  .user-box__user__follow__followings__title.text-center.text-gray
                    フォロワー
                  .user-box__user__follow__followings__count.text-center
                    = @followers.count
              .user-box__user__follow__btn
                = render "shared/follow_btn"
            - else
              .user-box__user__follow__followers
                = link_to followers_user_path(@user),class: "text-black text-line-none" do
                  .user-box__user__follow__followers__title.text-center.text-gray
                    フォロワー
                  .user-box__user__follow__followers__count.text-center
                    = @followers.count
              .user-box__user__follow__followings
                = link_to followings_user_path(@user),class:"text-black text-line-none" do
                  .user-box__user__follow__followings__title.text-center.text-gray
                    フォロー
                  .user-box__user__follow__followings__count.text-center
                    = @followings.count
              .user-box__user__follow__btn
                = render "shared/follow_btn"
        .user-box__books{style: "position: relative; height:50vh;width:30vw"}
          %canvas#categoryChart
          :javascript
            draw_category_graph();
          .user-books-title.text-center.text-gray
            登録ジャンル
          .user-books-text.text-center
            登録数
          .user-books-count.text-center
            = @user.books.where.not(status:2).count
      .user-book-list.text-center
        .user-book-list__title.margin-top-100
          最近登録した本
        = render partial: "shared/mypage_book_list", locals: {books: @buy_books}
      .user-book-list.text-center
        .user-book-list__title.margin-top-100
          最近読んだ本
        = render partial: "shared/mypage_book_list", locals: {books: @read_books}
      