= render "shared/content_header"
.mypage-top.main-font
  .mypage-top__main.box-center
    .mypage-top__main__box
      .user-box.display-flex.box-center
        .user-box__icon.display-flex
          .user-box__icon__photo
            %img.user-photo
          .user-box__icon__name
            = link_to edit_user_path, class: "text-line-none text-black" do
              = @user.nickname
        .user-box__books{style: "position: relative; height:50vh;width:30vw"}
          %canvas#categoryChart
          :javascript
            draw_category_graph();
          .user-books-text.text-center
            登録数
          .user-books-count.text-center
            = @user.books.count
      .user-book-list.text-center
        .user-book-list__title.margin-top-100
          これから読む本
        = render partial: "shared/mypage_book_list", locals: {books: @buy_books}
      .user-book-list.text-center
        .user-book-list__title.margin-top-100
          最近読んだ本
        = render partial: "shared/mypage_book_list", locals: {books: @read_books}
      