.book-tag
  .book-tag__box
    - if @book.category == "小説"
      .book-tag__box__category.text-center.background-novel
        = @book.category
    - elsif @book.category == "経営・戦略"
      .book-tag__box__category.text-center.background-management
        = @book.category
    - elsif @book.category == "政治・経済"
      .book-tag__box__category.text-center.background-economy
        = @book.category
    - elsif @book.category == "金融・ファイナンス"
      .book-tag__box__category.text-center.background-finance
        = @book.category
    - elsif @book.category == "IT"
      .book-tag__box__category.text-center.background-it
        = @book.category
    - elsif @book.category == "自己啓発"
      .book-tag__box__category.text-center.background-motivation
        = @book.category
    - elsif @book.category == "タレント本"
      .book-tag__box__category.text-center.background-talent
        = @book.category
    - else
      .book-tag__box__category.text-center.background-etc
        = @book.category
    - if @book.status == 1 && @book.impressions.last.reread_timing != "特になし"
      .book-tag__box__reread-timing.text-center
        = @book.impressions.last.reread_timing
    - else

