.book-list.box-center.main-font
  - if books.present?
    .book-list__main.box-list
      - books.each do |book|
        - if book.status == 1
          .book-list__main__box.text-center
            = link_to book_impressions_path(book), class: "book-list__main__box__content text-line-none text-gray" do
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
        - elsif book.status == 0
          .book-list__main__box.text-center
            = link_to book_path(book), class: "book-list__main__box__content text-line-none text-black" do
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
  - else
    .book-list__none.text-center
      登録された本がありません