- if books.present?
  .category-list.main-font
    .category-list__main.box-center
      - if books[0].category == "小説"
        .category-list__main__title.text-center.background-novel
          = books[0].category
      - elsif books[0].category == "経営・戦略"
        .category-list__main__title.text-center.background-management
          = books[0].category
      - elsif books[0].category == "政治・経済"
        .category-list__main__title.text-center.background-economy
          = books[0].category
      - elsif books[0].category == "金融・ファイナンス"
        .category-list__main__title.text-center.background-finance
          = books[0].category
      - elsif books[0].category == "IT"
        .category-list__main__title.text-center.background-it
          = books[0].category
      - elsif books[0].category == "自己啓発"
        .category-list__main__title.text-center.background-motivation
          = books[0].category
      - elsif books[0].category == "タレント本"
        .category-list__main__title.text-center.background-talent
          = books[0].category
      - else
        .category-list__main__title.text-center.background-etc
          = books[0].category
      .category-list__main__box
        .category-list__main__box__list.display-flex
          - if books[0].impressions.present?
            = link_to book_impressions_path(books[0]), class: "text-line-none text-gray" do
              .category-big
                .category-big__photo
                  = image_tag books[0].image.to_s, class: "image-set"
                .category-big__text.text-center
                  = books[0].title
          - else
            = link_to book_path(books[0]), class: "text-line-none text-gray" do
              .category-big
                .category-big__photo
                  = image_tag books[0].image.to_s, class: "image-set"
                .category-big__text.text-center
                  = books[0].title
          .category-small.display-flex.box-list
            - books.each.with_index(0) do |book, i|
              - if i >= 1 && i <= 4 && book.impressions.present?
                = link_to book_impressions_path(book), class: "text-line-none text-gray" do
                  .category-small__box
                    .category-small__box__photo
                      = image_tag book.image.to_s, class: "image-set"
                    .category-small__box__text.text-center
                      = book.title
              - elsif i >= 1 && i <= 4
                = link_to book_path(book), class: "text-line-none text-black" do
                  .category-small__box
                    .category-small__box__photo
                      = image_tag book.image.to_s, class: "image-set"
                    .category-small__box__text.text-center
                      = book.title
- else