- if params[:controller] == "devise/sessions" && params[:action] == "new" || params[:controller] == "devise/sessions" && params[:action] == "create"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'sign-in-alt', class: 'icon-sign-in'
      ログイン
- elsif params[:controller] == "signup" && params[:action] == "logout"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'sign-out-alt', class: 'icon-sign-out'
      ログアウト
- elsif params[:controller] == "signup" && params[:action] == "start_app"
  .content-top.text-center
    .content-top__title.content-title
      = icon 'fas', 'play', class: 'icon-play'
      アプリを始める
- elsif params[:controller] == "signup" && params[:action] == "new" || params[:controller] == "signup" && params[:action] == "create"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'user', class: 'icon-sign-out'
      新規会員登録
- elsif params[:controller] == "books" && params[:action] == "new" || params[:controller] == "books" && params[:action] == "create"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'book', class: 'icon-sign-out'
      本の登録
- elsif params[:controller] == "books" && params[:action] == "show"
  .content-top.display-flex
    .content-top__title.content-title
      = icon 'fas', 'book-open', class: 'icon-book'
      本の詳細
    - if user_signed_in? && current_user == @book.user
      .content-top__book-edit
        = link_to edit_book_path(@book), class:"mini-green-link-btn text-line-none" do
          編集する
    - else
- elsif params[:controller] == "impressions" && params[:action] == "new" || params[:controller] == "impressions" && params[:action] == "create"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'comment-dots', class: 'icon-sign-out'
      感想の登録
- elsif params[:controller] == "impressions" && params[:action] == "edit" || params[:controller] == "impressions" && params[:action] == "update"
  .content-top.display-flex
    .content-top__title.content-title
      = icon 'fas', 'edit', class: 'icon-book'
      感想の編集
    .content-top__book-destroy
      = link_to book_impression_path(@book), method: :delete, class:"mini-green-link-btn text-line-none" do
        削除する
- elsif params[:controller] == "impressions" && params[:action] == "index"
  .content-top.box-center
    .content-top__box.display-flex.box-center
      .content-top__box__title.content-title
        = icon 'fas', 'sticky-note', class: 'icon-sign-out'
        本の感想
- elsif params[:controller] == "impressions" && params[:action] == "show"
  .content-top.box-center
    .content-top__box.display-flex.box-center.text-center
      .content-top__box__title.content-title
        = icon 'fas', 'book-reader', class: 'icon-sign-out'
        ノート
      - if user_signed_in? && current_user == @book.user
        .content-top__book-edit
          = link_to edit_book_impression_path(@book, @impression), class:"mini-green-link-btn text-line-none" do
            編集する
      - else
- elsif params[:controller] == "books" && params[:action] == "edit" || params[:controller] == "books" && params[:action] == "update"
  .content-top.display-flex
    .content-top__title.content-title
      = icon 'fas', 'edit', class: 'icon-book'
      本の編集
    .content-top__book-destroy
      = link_to book_path(@book), method: :delete, class:"mini-green-link-btn text-line-none" do
        削除する
- elsif params[:controller] == "users" && params[:action] == "edit" || params[:controller] == "users" && params[:action] == "update"
  .content-top
    .content-top__title.content-title
      = icon 'fas', 'user-edit', class: 'icon-sign-out'
      ユーザー情報編集
- elsif params[:controller] == "users" && params[:action] == "category"
  .content-top
    .content-top__title.content-title.text-center
      = icon 'fas', 'bars', class: 'icon-sign-out'
      ジャンル一覧
- elsif params[:controller] == "users" && params[:action] == "reread_timing"
  .content-top
    .content-top__title.content-title.text-center
      = icon 'fas', 'bars', class: 'icon-sign-out'
      また読みたい時一覧
- elsif params[:controller] == "books" && params[:action] == "follow_book_show"
  .content-top
    .content-top__title.content-title.text-center
      = icon 'fas', 'bars', class: 'icon-sign-out'
      読みたいリスト
- else