.content-headdr.main-font
  .content-headdr__main
    .content-headdr__main__box.box-center
      .content-headdr__main__box__list.display-flex
        - if params[:controller] == "users" && params[:action] == "show" || params[:controller] == "users" && params[:action] == "category" || params[:action] == "novel" || params[:action] == "management" || params[:action] == "economy" || params[:action] == "finance" || params[:action] == "it" || params[:action] == "motivation" || params[:action] == "talent" || params[:action] == "etc" || params[:action] == "reread_timing" || params[:action] == "timing_knowledge" || params[:action] == "timing_motivation" || params[:action] == "timing_decision" || params[:action] == "timing_stress" || params[:action] == "timing_feel_down" || params[:action] == "timing_lost_love" || params[:action] == "timing_diversion" || params[:action] == "timing_relax" || params[:action] == "all_books" || params[:action] == "read_books" || params[:action] == "will_read_books" || params[:action] == "follow_book" || params[:controller] == "users" && params[:action] == "edit" || params[:controller] == "users" && params[:action] == "update" || params[:controller] == "books" && params[:action] == "follow_book_show" || params[:action] == "read_count_books" || params[:controller] == "users" && params[:action] == "read_history"
          .mypage-title.font-bold
            MYPAGE
          .mypage-list.display-flex
            - if params[:controller] == "users" && params[:action] == "show"
              .mypage-list__link
                = link_to user_path(@user), class: "text-green font-bold text-line-none" do
                  トップ
            - else
              .mypage-list__link
                = link_to user_path(@user), class: "text-black text-line-none content-header-btn" do
                  トップ
            - if params[:controller] == "users" && params[:action] == "read_history"
              .mypage-list__link
                = link_to read_history_user_path(@user), class: "text-green font-bold text-line-none" do
                  読書履歴
            - else
              .mypage-list__link
                = link_to read_history_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  読書履歴
            - if params[:action] == "all_books" || params[:action] == "read_books" || params[:action] == "will_read_books"
              .mypage-list__link
                = link_to all_books_user_path(@user), class: "text-green font-bold text-line-none" do
                  登録本
            - else
              .mypage-list__link
                = link_to all_books_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  登録本
            - if params[:action] == "read_count_books"
              .mypage-list__link
                = link_to read_count_books_user_path(@user), class: "text-green font-bold text-line-none" do
                  読書回数
            - else
              .mypage-list__link
                = link_to read_count_books_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  読書回数
            - if params[:controller] == "users" && params[:action] == "category" || params[:action] == "novel" || params[:action] == "management" || params[:action] == "economy" || params[:action] == "finance" || params[:action] == "it" || params[:action] == "motivation" || params[:action] == "talent" || params[:action] == "etc" 
              .mypage-list__link
                = link_to category_user_path(@user), class: "text-green font-bold text-line-none" do
                  ジャンル
            - else
              .mypage-list__link
                = link_to category_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  ジャンル
            - if params[:controller] == "users" && params[:action] == "reread_timing" || params[:action] == "timing_knowledge" || params[:action] == "timing_motivation" || params[:action] == "timing_decision" || params[:action] == "timing_stress" || params[:action] == "timing_feel_down" || params[:action] == "timing_lost_love" || params[:action] == "timing_diversion" || params[:action] == "timing_relax"
              .mypage-list__link
                = link_to reread_timing_user_path(@user), class: "text-green font-bold text-line-none" do
                  また読みたい時
            - else
              .mypage-list__link
                = link_to reread_timing_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  また読みたい時
            - if params[:controller] == "users" && params[:action] == "follow_book" || params[:controller] == "books" && params[:action] == "follow_book_show"
              .mypage-list__link
                = link_to follow_book_user_path(@user), class: "text-green font-bold text-line-none" do
                  読みたいリスト
            - else
              .mypage-list__link
                = link_to follow_book_user_path(@user), class: "text-black text-line-none content-header-btn" do
                  読みたいリスト
          - if user_signed_in? && current_user == @user
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to followings_user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to followers_user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followers.count
              .user-link__news-icon.text-blue.news-list.text-center
                = icon 'fas', 'bell', class: 'icon-user-link'
              = render "shared/news_list"
          - elsif user_signed_in?
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to followings_user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to followers_user_path(@user), class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followers.count
          - else
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to start_app_signup_index_path, class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to start_app_signup_index_path, class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to start_app_signup_index_path, class: "text-black text-orange text-line-none content-header-user-btn" do
                  = @user.followers.count
        - elsif params[:controller] == "books" && params[:action] == "show" || params[:controller] == "impressions" && params[:action] == "index" || params[:controller] == "impressions" && params[:action] == "show"
          .book-info-title.font-bold
            BOOK INFORMATION
          .book-info-list.display-flex
            - if params[:controller] == "books" && params[:action] == "show"
              .book-info-list__link
                = link_to book_path(@book), class: "text-green font-bold text-line-none" do
                  本の詳細
            - else
              .book-info-list__link
                = link_to book_path(@book), class: "text-black text-line-none content-header-btn" do
                  本の詳細
            - if params[:controller] == "impressions" && params[:action] == "index"
              .book-info-list__link
                = link_to book_impressions_path(@book), class: "text-green font-bold text-line-none" do
                  読書情報
            - else
              - if @book.status == "book_impression_exist"
                .book-info-list__link
                  = link_to book_impressions_path(@book), class: "text-black text-line-none content-header-btn" do
                    読書情報
              - elsif @book.status == "book_impression_none" && current_user == @book.user
                .book-info-list__link
                  = link_to new_book_impression_path(@book), class: "text-black text-line-none content-header-btn" do
                    読書感想の登録
              - else
            - if params[:controller] == "impressions" && params[:action] == "show"
              .book-info-list__link
                = link_to book_impression_path(@impression.book_id,@impression), class: "text-green font-bold text-line-none" do
                  感想の詳細
            - else
              - if @book.status == "book_impression_exist" && user_signed_in?
                .book-info-list__link
                  = link_to book_impression_path(@book,@book.impressions.last), class: "text-black text-line-none content-header-btn" do
                    感想の詳細
              - else
            - if @book.status == "book_impression_exist" && current_user == @book.user
              .book-info-list__link
                = link_to new_book_impression_path(@book), class: "text-black text-line-none content-header-btn" do
                  感想の登録
            - else
            - if user_signed_in? && current_user != @book.user
              .book-info-list__link
                .book-info-list__link__btn.content-header-follow-book-btn
                  読みたいリストにいれる
                .book-info-list__link__form
                  .black-screen
                  .form-box
                    = form_with(model: @book, local: true) do |f|
                      = f.file_field :image, type:"hidden"
                      = f.text_field :title, type:"hidden"
                      = f.text_field :author, type:"hidden"
                      = f.text_field :publisher, type:"hidden"
                      = f.text_field :category, type:"hidden"
                      = f.text_field :buy_date, value: Date.today, type:"hidden"
                      = f.submit " リストに登録する ", class: "form-btn text-white background-green"
                  .back-btn.green-link-btn
                    戻る
            - else
          - if user_signed_in? && current_user == @book.user
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to followings_user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to followers_user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followers.count
              .user-link__news-icon.text-blue.news-list.text-center
                = icon 'fas', 'bell', class: 'icon-user-link'
              = render "shared/news_list"
          - elsif user_signed_in?
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to followings_user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to followers_user_path(@book.user), class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followers.count
          - else
            .user-link.display-flex
              .user-link__nickname-icon.text-orange
                = icon 'fas', 'user', class: 'icon-user-link'
              .user-link__nickname
                = link_to start_app_signup_index_path, class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.nickname
              .user-link__followings-icon.text-orange
                = icon 'fas', 'heart', class: 'icon-user-link'
              .user-link__followings.text-center
                = link_to start_app_signup_index_path, class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followings.count
              .user-link__followers-icon.text-orange
                = icon 'fas', 'check', class: 'icon-user-link'
              .user-link__followers.text-center
                = link_to start_app_signup_index_path, class: "text-orange text-line-none content-header-user-btn" do
                  = @book.user.followers.count
        - else
