- users.each do |user|
  = link_to user_path(user), class: "book-hover follow-list text-line-none text-black" do
    .follow-list__box.display-flex
      .follow-list__box__left
        .follow-list__box__left__user.display-flex
          - if user.image.to_s.present?
            .follow-list__box__left__user__photo
              = image_tag user.image.to_s, class: "user-photo user-image-set"
          - else
            .follow-list__box__left__user__photo
              %img.user-photo
          .follow-list__box__left__user__name.text-black
            = user.nickname
        .follow-list__box__left__follow.display-flex
          .follow-list__box__left__follow__content.display-flex
            .follow-list__box__left__follow__content__title
              フォロー
            .follow-list__box__left__follow__content__count
              = user.followings.count
          .follow-list__box__left__follow__content.display-flex
            .follow-list__box__left__follow__content__title
              フォロワー
            .follow-list__box__left__follow__content__count
              = user.followers.count
      - if user.books.where.not(status:"book_following").present?
        .follow-list__box__graph
          .follow-list__box__graph__category
            = pie_chart [['小説', user.books.category_小説.where.not(status:"book_following").count], 
                        ['経営・戦略', user.books.category_経営・戦略.where.not(status:"book_following").count],
                        ['政治・経済', user.books.category_政治・経済.where.not(status:"book_following").count],
                        ['ファイナンス', user.books.category_金融・ファイナンス.where.not(status:"book_following").count],
                        ['IT', user.books.category_IT.where.not(status:"book_following").count],
                        ['自己啓発', user.books.category_自己啓発.where.not(status:"book_following").count],
                        ['タレント本', user.books.category_タレント本.where.not(status:"book_following").count],
                        ['その他', user.books.category_その他.where.not(status:"book_following").count]], 
                        colors: ['rgba(209, 46, 31, 0.6)',
                                'rgba(246, 202, 6, 0.7)',
                                'rgba(187, 212, 26, 0.7)',
                                'rgba(0, 146, 80, 0.7)',
                                'rgba(0, 131, 174, 0.7)',
                                'rgba(50, 97, 171, 0.7)',
                                'rgba(143, 51, 150, 0.7)',
                                'rgba(182, 25, 114, 0.6)',],
                        donut: true,
                        legend: false,
                        width: "100px", height: "100px"
          .follow-list__box__graph__count.text-line-none.text-black.text-center
            = user.books.where.not(status:"book_following").count
      - else
        .follow-list__box__book-none
          登録がありません
