.header.main-font.text-center
  .header__box
    .header__box__logo
      = link_to root_path, class:"text-line-none text-white" do
        BOOK BANK
    %ul.header__box__content.text-center
      %li.header__box__content__new-member
        = link_to users_path, class:"text-line-none text-gray" do
          ユーザー一覧
      %li.header__box__content__new-member
        = link_to new_book_path, class:"text-line-none text-gray" do
          book登録
      - if user_signed_in?
        %li.header__box__content__new-member
          = link_to user_path(current_user), class:"text-line-none text-gray" do
            ユーザーマイページ
        %li.header__box__content__login
          = link_to logout_signup_index_path, class:"text-line-none text-gray" do
            ログアウト
      - else
        %li.header__box__content__new-member
          = link_to new_signup_path, class:"text-line-none text-gray" do
            新規会員登録
        %li.header__box__content__login
          = link_to new_user_session_path, class:"text-line-none text-gray" do
            ログイン