.impression-list
  .impression-list__note
  - if params[:controller] == "impressions" && params[:action] == "index"
    .impression-list__note__top
      .note-icon
        = icon 'fas', 'book-reader', class: 'icon-book'
      .note-title
        感想の一覧
    - @impressions.each do |impression|
      - if user_signed_in?
        = link_to book_impression_path(impression.book_id,impression), class: "text-line-none" do
          .impression-list__note__content.impression-hover
            .note-date.text-green.font-bold
              = simple_time(impression.created_at)
            .note-reread-timing.box-center.text-center.background-green.text-white
              = impression.reread_timing
            - if impression.note.present?
              .note-content.text-black
                = impression.note
            - else
              .note-content.text-black
                感想メモの登録がありません
      - else
        = link_to start_app_signup_index_path(impression.book_id,impression), class: "text-line-none" do
          .impression-list__note__content.impression-hover
            .note-date.text-green.font-bold
              = simple_time(impression.created_at)
            .note-reread-timing.box-center.text-center.background-green.text-white
              = impression.reread_timing
            - if impression.note.present?
              .note-content.text-black
                = impression.note
            - else
              .note-content.text-black
                感想メモの登録がありません
  - elsif params[:controller] == "impressions" && params[:action] == "show"
    .impression-list__note__top
      .note-icon
        = icon 'fas', 'book-reader', class: 'icon-book'
      .note-title
        その他の感想
    - @impressions.each do |impression|
      - if impression == @impression
        .impression-list__note__content
          .note-active.text-white.background-orange
            表示中
          .note-date.text-orange.font-bold
            = simple_time(impression.created_at)
          .note-reread-timing.box-center.text-center.background-orange.text-white
            = impression.reread_timing
          - if impression.note.present?
            .note-content.text-black
              = impression.note
          - else
            .note-content.text-black
              感想メモの登録がありません
      - else
        = link_to book_impression_path(impression.book_id,impression), class: "text-line-none" do
          .impression-list__note__content.impression-hover
            .note-date.text-green.font-bold
              = simple_time(impression.created_at)
            .note-reread-timing.box-center.text-center.background-green.text-white
              = impression.reread_timing
            - if impression.note.present?
              .note-content.text-black
                = impression.note
            - else
              .note-content.text-black
                感想メモの登録がありません
    
