.mypage-book-list.box-center.main-font
  - if books.present?
    .mypage-book-list__main.box-list
      - books.each do |book|
        - if book.status == "book_impression_none"
          .mypage-book-list__main__box.text-center.book-hover
            = link_to book_path(book), class: "mypage-book-list__main__box__content text-line-none text-black" do
              - if book.category == "novel"
                .book-category-tag.background-novel
                  小説
              - elsif book.category == "management"
                .book-category-tag.background-management
                  経営
              - elsif book.category == "economy"
                .book-category-tag.background-economy
                  経済
              - elsif book.category == "finance"
                .book-category-tag.background-finance
                  金融
              - elsif book.category == "it"
                .book-category-tag.background-it
                  IT
              - elsif book.category == "motivation"
                .book-category-tag.background-motivation
                  自己啓発
              - elsif book.category == "talent"
                .book-category-tag.background-talent
                  タレント
              - else
                .book-category-tag.background-etc
                  その他
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
        - else
          .mypage-book-list__main__box.text-center.book-hover
            = link_to follow_book_show_book_path(book), class: "mypage-book-list__main__box__content text-line-none text-black" do
              - if book.category == "novel"
                .book-category-tag.background-novel
                  小説
              - elsif book.category == "management"
                .book-category-tag.background-management
                  経営
              - elsif book.category == "economy"
                .book-category-tag.background-economy
                  経済
              - elsif book.category == "finance"
                .book-category-tag.background-finance
                  金融
              - elsif book.category == "it"
                .book-category-tag.background-it
                  IT
              - elsif book.category == "motivation"
                .book-category-tag.background-motivation
                  自己啓発
              - elsif book.category == "talent"
                .book-category-tag.background-talent
                  タレント
              - else
                .book-category-tag.background-etc
                  その他
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
  - else
    .mypage-book-list__none.text-list
      登録された本がありません
