.search-book-list__main__book.text-center
  .search-book-list__main__book__box
    - if book.category == "novel"
      .book-category-tag.background-novel
        小説
    - elsif book.category == "management"
      .book-category-tag.background-management
        経営
    - elsif book.category == "economy"
      .book-category-tag.background-economy
        経済
    - elsif book.category == "finance"
      .book-category-tag.background-finance
        金融
    - elsif book.category == "it"
      .book-category-tag.background-it
        IT
    - elsif book.category == "motivation"
      .book-category-tag.background-motivation
        自己啓発
    - elsif book.category == "talent"
      .book-category-tag.background-talent
        タレント
    - else
      .book-category-tag.background-etc
        その他
    - if book.status == "book_impression_exist"
      .book-status
        .book-status__title.font-bold.text-white
          読書済
      .book-shadow
      .book-image
        = image_tag book.image.to_s, class: "image-set"
      .book-title
        = book.title
    - elsif book.status == "book_impression_none"
      .book-image
        = image_tag book.image.to_s, class: "image-set"
      .book-title
        = book.title
.search-book-list__main__user.display-flex
  .search-book-list__main__user__photo
    = image_tag book.user.image.to_s, class: "user-photo user-image-set"
  .search-book-list__main__user__name.text-black
    = book.user.nickname
.search-book-list__main__graph
  .search-book-list__main__graph__category
    = pie_chart [['小説', book.user.books.category_novel.no_book_following.count], 
                ['経営・戦略', book.user.books.category_management.no_book_following.count],
                ['政治・経済', book.user.books.category_economy.no_book_following.count],
                ['ファイナンス', book.user.books.category_finance.no_book_following.count],
                ['IT', book.user.books.category_it.no_book_following.count],
                ['自己啓発', book.user.books.category_motivation.no_book_following.count],
                ['タレント本', book.user.books.category_talent.no_book_following.count],
                ['その他', book.user.books.category_etc.no_book_following.count]], 
                colors: ['rgba(209, 46, 31, 0.6)',
                        'rgba(246, 202, 6, 0.7)',
                        'rgba(187, 212, 26, 0.7)',
                        'rgba(0, 146, 80, 0.7)',
                        'rgba(0, 131, 174, 0.7)',
                        'rgba(50, 97, 171, 0.7)',
                        'rgba(143, 51, 150, 0.7)',
                        'rgba(182, 25, 114, 0.6)',],
                donut: true,
                legend: false,
                width: "100px", height: "100px"
  .search-book-list__main__graph__count.text-line-none.text-black.text-center
    = book.user.books.no_book_following.count

