.search-book-list.box-center.main-font.box-list
  - if books.count == 0
    .search-book-list__none.box-center.text-center
      登録された本がありません
  - else
    - books.each do |book|
      - if book.status == 1
        = link_to book_impressions_path(book), class: "search-book-list__main box-list text-line-none text-black" do
          .search-book-list__main__book.text-center
            .search-book-list__main__book__box
              - if book.category == "小説"
                .book-category-tag.background-novel
                  小説
              - elsif book.category == "経営・戦略"
                .book-category-tag.background-management
                  経営
              - elsif book.category == "政治・経済"
                .book-category-tag.background-economy
                  経済
              - elsif book.category == "金融・ファイナンス"
                .book-category-tag.background-finance
                  金融
              - elsif book.category == "IT"
                .book-category-tag.background-it
                  IT
              - elsif book.category == "自己啓発"
                .book-category-tag.background-motivation
                  自己啓発
              - elsif book.category == "タレント本"
                .book-category-tag.background-talent
                  タレント
              - else
                .book-category-tag.background-etc
                  その他
              .book-status
                .book-status__title.font-bold.text-white
                  読書済
              .book-shadow
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
          .search-book-list__main__user.display-flex
            .search-book-list__main__user__photo
              = image_tag book.user.image.to_s, class: "user-photo user-image-set"
            .search-book-list__main__user__name.text-black
              = book.user.nickname
          .search-book-list__main__graph
            .search-book-list__main__graph__category
              = pie_chart [['小説', book.user.books.category_小説.where.not(status:2).count], 
                          ['経営・戦略', book.user.books.category_経営・戦略.where.not(status:2).count],
                          ['政治・経済', book.user.books.category_政治・経済.where.not(status:2).count],
                          ['ファイナンス', book.user.books.category_金融・ファイナンス.where.not(status:2).count],
                          ['IT', book.user.books.category_IT.where.not(status:2).count],
                          ['自己啓発', book.user.books.category_自己啓発.where.not(status:2).count],
                          ['タレント本', book.user.books.category_タレント本.where.not(status:2).count],
                          ['その他', book.user.books.category_その他.where.not(status:2).count]], 
                          colors: ['rgba(209, 46, 31, 0.6)',
                                  'rgba(246, 202, 6, 0.7)',
                                  'rgba(187, 212, 26, 0.7)',
                                  'rgba(0, 146, 80, 0.7)',
                                  'rgba(0, 131, 174, 0.7)',
                                  'rgba(50, 97, 171, 0.7)',
                                  'rgba(143, 51, 150, 0.7)',
                                  'rgba(182, 25, 114, 0.6)',],
                          donut: true,
                          legend: false,
                          width: "100px", height: "100px"
            .search-book-list__main__graph__count.text-line-none.text-black.text-center
              = book.user.books.where.not(status:2).count
      - elsif book.status == 0
        = link_to book_path(book), class: "search-book-list__main box-list text-line-none text-black" do
          .search-book-list__main__book.text-center
            .search-book-list__main__book__box
              - if book.category == "小説"
                .book-category-tag.background-novel
                  小説
              - elsif book.category == "経営・戦略"
                .book-category-tag.background-management
                  経営
              - elsif book.category == "政治・経済"
                .book-category-tag.background-economy
                  経済
              - elsif book.category == "金融・ファイナンス"
                .book-category-tag.background-finance
                  金融
              - elsif book.category == "IT"
                .book-category-tag.background-it
                  IT
              - elsif book.category == "自己啓発"
                .book-category-tag.background-motivation
                  自己啓発
              - elsif book.category == "タレント本"
                .book-category-tag.background-talent
                  タレント
              - else
                .book-category-tag.background-etc
                  その他
              .book-image
                = image_tag book.image.to_s, class: "image-set"
              .book-title
                = book.title
          .search-book-list__main__user.display-flex
            .search-book-list__main__user__photo
              = image_tag book.user.image.to_s, class: "user-photo user-image-set"
            .search-book-list__main__user__name.text-black
              = book.user.nickname
          .search-book-list__main__graph
            .search-book-list__main__graph__category
              = pie_chart [['小説', book.user.books.category_小説.where.not(status:2).count], 
                          ['経営・戦略', book.user.books.category_経営・戦略.where.not(status:2).count],
                          ['政治・経済', book.user.books.category_政治・経済.where.not(status:2).count],
                          ['ファイナンス', book.user.books.category_金融・ファイナンス.where.not(status:2).count],
                          ['IT', book.user.books.category_IT.where.not(status:2).count],
                          ['自己啓発', book.user.books.category_自己啓発.where.not(status:2).count],
                          ['タレント本', book.user.books.category_タレント本.where.not(status:2).count],
                          ['その他', book.user.books.category_その他.where.not(status:2).count]], 
                          colors: ['rgba(209, 46, 31, 0.6)',
                                  'rgba(246, 202, 6, 0.7)',
                                  'rgba(187, 212, 26, 0.7)',
                                  'rgba(0, 146, 80, 0.7)',
                                  'rgba(0, 131, 174, 0.7)',
                                  'rgba(50, 97, 171, 0.7)',
                                  'rgba(143, 51, 150, 0.7)',
                                  'rgba(182, 25, 114, 0.6)',],
                          donut: true,
                          legend: false,
                          width: "100px", height: "100px"
            .search-book-list__main__graph__count.text-line-none.text-black.text-center
              = book.user.books.where.not(status:2).count

    
