.book-edit
  .book-edit__main
    = form_with(model: @book, local: true) do |f|
      .title-box
        本の登録
      .book-image
        .book-image__title
          写真のアップロード
        .book-image__photo
        = f.file_field :image
      .book-detail
        .book-detail__title
          タイトル
        .book-detail__title-input
        = f.text_field :title
        .book-detail__author
          著者
        .book-detail__author-input
        = f.text_field :author
        .book-detail__publisher
          出版社
        .book-detail__publisher-input
        = f.text_field :publisher
        .book-rating__category
          きっかけ
        .book-rating__category-input
        = f.text_field :category
        .book-rating__date
          購入日
        .book-rating__date-input
        = f.text_field :date, value: Date.today
      .btn-box
        = f.submit class: "btn-box__book-new"
        .btn-box__back-button
          = link_to "#" do
            もどる
  .btn-box
    .btn-box__book-destroy
      = link_to book_path(@book), method: :delete, class:"black-link-btn text-line-none" do
        削除する
    .btn-box__book-raiting
      = link_to new_book_impression_path(@book), class:"black-link-btn text-line-none" do
        読み終わった
    .btn-box__back
      = link_to user_path(@book.user_id), class: "gray-btn margin-left-40 text-line-none" do
        もどる
