.book-new
  .book-new__main
    = form_with(model: @book, local: true) do |f|
      .title-box
        本の登録
      .book-image
        .book-image__title
          写真のアップロード
        .book-image__photo
        = f.file_field :image
      .book-detail
        .book-detail__title
          タイトル
        .book-detail__title-input
        = f.text_field :title
        .book-detail__author
          著者
        .book-detail__author-input
        = f.text_field :author
        .book-detail__publisher
          出版社
        .book-detail__publisher-input
        = f.text_field :publisher
        .book-rating__reason
          きっかけ
        .book-rating__reason-input
        = f.text_field :reason
        .book-rating__date
          購入日
        .book-rating__date-input
        = f.text_field :date, value: Date.today
      .botton-box
        = f.submit class: "botton-box__book-new"
        .botton-box__back-button
          = link_to "#" do
            もどる