.search-book.main-font
  .search-book__main.box-center
    - if user_signed_in?
      .search-book__main__box.active
        .search-book__main__box__title.box-center.font-bold.box-center.font-bold.display-flex
          = icon 'fas', 'search', class: 'icon-search'
          "#{@keyword}" の検索結果
          .first-set-tab.mini-orange-link-btn
            すべて
          .first-set-tab.mini-green-link-btn
            自分のみ
        .search-book__main__box__books
          = render partial: "shared/search_book_list", locals: {books: @all_books}
      .search-book__main__box
        .search-book__main__box__title.box-center.font-bold.box-center.font-bold.display-flex
          = icon 'fas', 'search', class: 'icon-search'
          "#{@keyword}" の検索結果
          .second-set-tab.mini-green-link-btn
            すべて
          .second-set-tab.mini-orange-link-btn
            自分のみ
        .search-book__main__box__books
          = render partial: "shared/search_book_list", locals: {books: @user_books}
    - else
      .search-book__main__box.active
        .search-book__main__box__title.box-center.font-bold.box-center.font-bold.display-flex
          = icon 'fas', 'search', class: 'icon-search'
          "#{@keyword}" の検索結果
        .search-book__main__box__books
          = render partial: "shared/search_book_list", locals: {books: @all_books}

        
