= render "shared/content_header"
.book-show.main-font.box-center
  .book-show__main
    = render "shared/content_top"
    = render "shared/book_tag"
    .book-show__main__box
      .book-show__main__box__photo
        = image_tag @book.image.to_s, class: "book-show-image image-set"
      .book-show__main__box__text
        .book-detail
          .book-detail__top
            タイトル
          .book-detail__content
            = @book.title
        .book-detail
          .book-detail__top
            著者
          .book-detail__content
            = @book.author
        .book-detail
          .book-detail__top
            出版社
          .book-detail__content
            = @book.publisher
        .book-detail
          .book-detail__top
            ジャンル
          .book-detail__content
            = @book.category
        .book-detail
          .book-detail__top
            購入日
          .book-detail__content
            = @book.buy_date
    .btn-box
      .btn-box__book-raiting
        = link_to new_book_impression_path(@book), class:"black-link-btn text-line-none" do
          感想を登録する
      .btn-box__back
        = link_to user_path(@book.user_id), class: "gray-btn margin-left-40 text-line-none" do
          もどる
