= render "shared/content_header"
.book-show.main-font.box-center
  .book-show__main
    = render "shared/content_top"
    = render "shared/book_tag"
    .book-show__main__book-title.text-center
      .book-top
        タイトル
      .book-title
        = @book.title
    .book-show__main__box
      .book-show__main__box__photo
        = image_tag @book.image.to_s, class: "book-show-image image-set"
      .book-show__main__box__text
        .book-detail
          .book-detail__top
            著者
          .book-detail__content
            = @book.author
        .book-detail
          .book-detail__top
            出版社
          .book-detail__content
            = @book.publisher
        .book-detail
          .book-detail__top
            ジャンル
          .book-detail__content
            = @book.category
        .book-detail
          .book-detail__top
            購入日
          .book-detail__content
            = @book.buy_date
    - if user_signed_in? && current_user == @book.user
      .btn-box.box-center
        .btn-box__book-raiting.text-center
          = link_to new_book_impression_path(@book), class:"black-link-btn text-line-none" do
            感想を登録する
    - else
