= render "shared/content_header"
.book-show
  .book-show__main
    .book-show__main__box
      .book-show__main__box__text
        .book-show__main__box__text__item
          .book-item
            タイトル：
          .book-item
            著者：
          .book-item
            出版社：
          .book-item
            きっかけ：
          .book-item
            購入日：
        .book-show__main__box__text__content
          .book-content
            = link_to "#",class: "text-brack text-line-none" do
              = @book.title
          .book-content
            = link_to "#",class: "text-brack text-line-none" do
              = @book.author
          .book-content
            = link_to "#",class: "text-brack text-line-none" do
              = @book.publisher
          .book-content
            = link_to "#",class: "text-brack text-line-none" do
              = @book.category
          .book-content
            = link_to "#",class: "text-brack text-line-none" do
              = @book.buy_date
      .book-content
        = link_to new_book_impression_path(@book), class: "text-brack text-line-none" do
          読み終わった
      .book-content
        = link_to edit_book_path(@book), class: "text-brack text-line-none" do
          編集する
      .book-content
        = link_to book_path(@book), method: :delete, class: "text-brack text-line-none" do
          削除する
      .book-show__main__box__photo
        = image_tag @book.image.to_s
      

      

    
