.login-new.main-font
  .login-new__main.box-center
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .content-top
        .content-top__title.content-title
          = icon 'fas', 'sign-in-alt', class: 'icon-sign-out'
          ログイン
      .user-detail
        .user-detail__top.form-content
          メールアドレス
        .user-detail__email-input
          = f.email_field :email, placeholder: "> e-mail", class:"text-input"
        .user-detail__top.form-content
          パスワード
        .user-detail__password-input
          = f.password_field :password, placeholder: "> password", class:"text-input"
      .botton-box
        .botton-box__user-new
          = f.submit " ログイン ", class: "submit-btn text-line-none"
        .botton-box__back
          = link_to root_path, class: "gray-btn text-line-none" do
            もどる