.login-new.main-font
  .login-new__main.box-center
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "shared/content_top"
      .user-detail
        .user-detail__test-title
          テストアカウント
        .user-detail__test-mail
          ・email : test01@test01.test01
        .user-detail__test-password
          ・password : test01
        .user-detail__top.form-content
          メールアドレス
        .user-detail__email-input
          = f.email_field :email, placeholder: "> email", class:"text-input"
        .user-detail__top.form-content
          パスワード
        .user-detail__password-input
          = f.password_field :password, placeholder: "> password", class:"text-input"
      .btn-box.display-flex
        .btn-box__user-new
          = f.submit " ログイン ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to :back, class: "gray-btn margin-left-40 text-line-none" do
            もどる
= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post