.login-new.main-font
  .login-new__main.box-center
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "shared/content_top"
      .user-detail
        .user-detail__top.form-content
          メールアドレス
        .user-detail__email-input
          = f.email_field :email, placeholder: "> e-mail", class:"text-input"
        .user-detail__top.form-content
          パスワード
        .user-detail__password-input
          = f.password_field :password, placeholder: "> password", class:"text-input"
      .btn-box
        .btn-box__user-new
          = f.submit " ログイン ", class: "submit-btn text-line-none"
        .btn-box__back
          = link_to root_path, class: "gray-btn text-line-none" do
            もどる